@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Bookmobile Scheduler</h1>
    <p class="lead">The Library Bookmobile Scheduler is a web app designed to allow library staff to schedule the children's bookmobile for school visits. There are three forms to allow the user to add visits, schools and staff members. </p>
    <img src="~/images/bookmobile-header.png"  alt="Children's bookmobile" class="img-responsive center-block"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Library Staff</h2>
        <p>
            Create, view, update or delete bookmobile staff information.
        </p>
    <p><a href="/LibraryStaffs/" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true">Staff &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>School Roster</h2>
        <p>Access the available schools serviced by the library bookmobile. Easily add, remove, and update schools.</p>        
        <p><a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Schools &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outreaches Scheduled</h2>
        <p>View a current list of outreaches scheduled to various schools.</p>        
        <p><a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Outreaches &raquo;</a></p>
    </div>
</div>